@use "../abstracts" as *;

.csplab-upload-wrapper {
  position: relative;

  .csplab-dropzone {
    position: relative;
    border: 1px dashed var(--border-action-high-blue-france);
    padding: $sp-4w;
    text-align: center;
    cursor: pointer;
    background-color: var(--background-default-grey);
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    gap: $sp-2w;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--background-default-grey-hover);
    }

    &[data-state="dragging"] {
      background-color: var(--background-default-grey-hover);
      border-style: solid;
    }

    &:hover .csplab-dropzone__browse {
      text-decoration: underline var(--text-action-high-blue-france) 2px;
    }

    .csplab-dropzone__label {
      position: absolute;
      inset: 0;
      cursor: pointer;
    }

    .csplab-dropzone__browse {
      color: var(--text-action-high-blue-france);
      text-decoration: underline var(--text-action-high-blue-france) 1px;
      text-underline-offset: 0.15em;
    }
  }

  &:has(input:focus-visible) .csplab-dropzone {
    outline: 2px solid var(--border-action-high-blue-france);
    outline-offset: 2px;
  }

  &:has(input:active) .csplab-dropzone {
    background-color: var(--background-default-grey-active);
  }
}
