@use "../abstracts" as *;

.csplab-file-card {
  display: flex;
  align-items: center;
  gap: $sp-2w;
  padding: $sp-3w;
  background-color: var(--background-default-grey);
  border: 1px solid var(--border-default-grey);

  .csplab-file-card__content {
    display: flex;
    align-items: center;
    gap: $sp-2w;
    flex: 1;
  }

  .csplab-file-card__info {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }

  .csplab-file-card__name {
    font-weight: 500;
  }
}
