@use "../abstracts" as *;

.csplab-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid $spinner-track-color;
  border-top-color: $spinner-active-color;
  border-radius: 50%;
  animation: csplab-spin 1s linear infinite;
}

@keyframes csplab-spin {
  to {
    transform: rotate(360deg);
  }
}
