.csplab-space-y-1w,
.csplab-space-y-2w,
.csplab-space-y-3w {
  display: flex;
  flex-direction: column;
}

.csplab-space-y-1w>p,
.csplab-space-y-1w>h1,
.csplab-space-y-1w>h2,
.csplab-space-y-1w>h3,
.csplab-space-y-1w>h4,
.csplab-space-y-1w>h5,
.csplab-space-y-1w>h6,
.csplab-space-y-2w>p,
.csplab-space-y-2w>h1,
.csplab-space-y-2w>h2,
.csplab-space-y-2w>h3,
.csplab-space-y-2w>h4,
.csplab-space-y-2w>h5,
.csplab-space-y-2w>h6,
.csplab-space-y-3w>p,
.csplab-space-y-3w>h1,
.csplab-space-y-3w>h2,
.csplab-space-y-3w>h3,
.csplab-space-y-3w>h4,
.csplab-space-y-3w>h5,
.csplab-space-y-3w>h6 {
  margin: 0;
}

.csplab-space-y-1w {
  gap: .5rem;
}

.csplab-space-y-2w {
  gap: 1rem;
}

.csplab-space-y-3w {
  gap: 1.5rem;
}
