# -- Back end

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installed packages
.cache
.local

# Directories
data

# -- Environments
.env
.venv
env/
env.d/*-local
env.d/postgresql
env.d/tycho

venv/
ENV/
env.bak/
venv.bak/
scripts/activate.sh
scripts/*.csv

# Jupytext: we version converted md files not ipynb sources
*.ipynb

# Jupyter
.ipynb_checkpoints/

.Trash*
.ruff_cache/

.todo*
.pre-commit-cache/

# Data
*.csv
.coverage


ARCHITECTURE*
.vscode
.devcontainer
