services:
  notebook:
    build:
      context: src/notebook
      dockerfile: Dockerfile
      args:
        DOCKER_UID: ${DOCKER_UID:-1000}
        DOCKER_GID: ${DOCKER_GID:-1000}
    env_file:
      - env.d/notebook
    user: ${DOCKER_USER:-1000}
    ports:
      - "8888:8888"
    volumes:
      - ./src/notebook:/home/notebook/app
    working_dir: /home/notebook/app

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.1.5
    environment:
      bootstrap.memory_lock: true
      discovery.type: single-node
      xpack.security.enabled: "false"
    ports:
      - "9200:9200"
    mem_limit: 1g
    ulimits:
      memlock:
        soft: -1
        hard: -1
    healthcheck:
      test: curl --fail http://localhost:9200/_cluster/health?wait_for_status=green || exit 1
      interval: 1s
      retries: 60

  postgresql:
    image: pgvector/pgvector:pg16
    env_file:
      - env.d/postgresql
      - env.d/tycho
    ports:
      - "5432:5432"
    healthcheck:
      test:
        - "CMD-SHELL"
        - "pg_isready"
        - "-d"
        - "$${POSTGRES_DB}"
      interval: 10s
      timeout: 5s
      retries: 5
