{% extends "dsfr/footer.html" %}
{% load i18n %}

{% block footer_brand %}
<div class="fr-footer__brand fr-enlarge-link">
    <a id="footer-operator"
       href="/"
       title="{% trans "Retour à la page d'accueil" %} — CSPLab">
        <p class="fr-logo">
            République<br />française
        </p>
    </a>
</div>
{% endblock footer_brand %}

{% block footer_description %}
<p class="fr-footer__content-desc">
{% trans "CSPLab est un laboratoire d'innovation qui aide les candidats à trouver leur voie dans le service public." %}
</p>
{% endblock %}

{% block footer_links %}
<li class="fr-footer__bottom-item">
    <a class="fr-footer__bottom-link" href="#">{% trans "Accessibilité : non conforme" %}</a>
</li>
<li class="fr-footer__bottom-item">
    <a class="fr-footer__bottom-link" href="#">{% trans "Mentions légales" %}</a>
</li>
<li class="fr-footer__bottom-item">
    <a class="fr-footer__bottom-link" href="#">{% trans "Données personnelles" %}</a>
</li>
<li class="fr-footer__bottom-item">
    <a class="fr-footer__bottom-link" href="#">{% trans "Gestion des cookies" %}</a>
</li>
{% endblock %}
