<div class="csplab-feedback fr-stack-1w"
     data-opportunity-id="{{ opportunity_id }}"
     data-opportunity-type="{{ opportunity_type }}">
    <p class="fr-text--bold">Que pensez-vous de cette proposition&nbsp;?</p>
    <ul class="fr-btns-group fr-btns-group--inline">
        <li>
            <button type="button"
                    class="fr-btn fr-btn--tertiary fr-icon-thumb-up-line csplab-feedback__btn fr-mb-0"
                    data-sentiment="positive"
                    aria-pressed="false"
                    aria-label="Cette proposition est pertinente"></button>
        </li>
        <li>
            <button type="button"
                    class="fr-btn fr-btn--tertiary fr-icon-thumb-down-line csplab-feedback__btn fr-mb-0"
                    data-sentiment="negative"
                    aria-pressed="false"
                    aria-label="Cette proposition n'est pas pertinente"></button>
        </li>
    </ul>
</div>
