{% load dsfr_tags %}
<ul class="fr-tags-group">
    {% if opportunity.opportunity_type_display %}
        <li>
            {% dsfr_tag label=opportunity.opportunity_type_display extra_classes="fr-icon-briefcase-line fr-tag--icon-left" %}
        </li>
    {% endif %}
    {% if opportunity.versant_display %}
        <li>{% dsfr_tag label=opportunity.versant_display extra_classes="fr-icon-government-line fr-tag--icon-left" %}</li>
    {% endif %}
    {% if opportunity.category_display %}
        <li>{% dsfr_tag label=opportunity.category_display extra_classes="fr-icon-award-line fr-tag--icon-left" %}</li>
    {% endif %}
</ul>
{% if opportunity.organization or opportunity.ministry or opportunity.location %}
    <div class="fr-stack-1w">
        {% if opportunity.organization %}
            <p class="fr-card__detail fr-icon-team-line">
                <span class="fr-sr-only">Organisation :</span>{{ opportunity.organization }}
            </p>
        {% endif %}
        {% if opportunity.ministry %}
            <p class="fr-card__detail fr-icon-team-line">
                <span class="fr-sr-only">Ministère :</span>{{ opportunity.ministry }}
            </p>
        {% endif %}
        {% if opportunity.location %}
            <p class="fr-card__detail fr-icon-map-pin-2-line">
                <span class="fr-sr-only">Localisation :</span>{{ opportunity.location }}
            </p>
        {% endif %}
    </div>
{% endif %}
{% if opportunity.accordions %}
    {% dsfr_accordion_group opportunity.accordions %}
{% endif %}
