{% load static dsfr_tags django_htmx %}
<!DOCTYPE html>
<html lang="{% block lang %}fr{% endblock lang %}"
      class="no-js"
      data-fr-scheme="light"
      {% if SITE_CONFIG.mourning %}data-fr-mourning{% endif %}>
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description"
              content="{% block meta_description %}Découvrez les opportunités de carrière dans la fonction publique grâce à l'analyse de votre CV.{% endblock meta_description %}">
        {% dsfr_css %}
        {% dsfr_favicon %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% block page_css %}
        {% endblock page_css %}
        {% block title %}
            <title>
                {% block page_title %}
                    Accueil
                {% endblock page_title %}
            | {{ SITE_CONFIG.site_title|default:"CSPLab" }}</title>
        {% endblock title %}
        <meta name="format-detection"
              content="telephone=no,date=no,address=no,email=no,url=no">
        {% block opengraph %}
        {% endblock opengraph %}
        <meta property="og:title"
              content="{% block og_title %}{{ SITE_CONFIG.site_title|default:'CSPLab' }}{% endblock og_title %}">
        <meta property="og:description"
              content="{% block og_description %}Découvrez les opportunités de carrière dans la fonction publique grâce à l'analyse de votre CV.{% endblock og_description %}">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="fr_FR">
        {% htmx_script %}
    </head>
    <body>
        {% block skiplinks %}
            {% dsfr_skiplinks skiplinks %}
        {% endblock skiplinks %}
        {% block header %}
            {% include "partials/header.html" %}
        {% endblock header %}
        {% if SITE_CONFIG.notice_title or SITE_CONFIG.notice_description %}
            {% dsfr_notice title=SITE_CONFIG.notice_title description=SITE_CONFIG.notice_description link=SITE_CONFIG.notice_link type=SITE_CONFIG.notice_type icon=SITE_CONFIG.notice_icon_class is_collapsible=SITE_CONFIG.notice_is_collapsible %}
        {% endif %}
        <div class="fr-container">{% dsfr_django_messages is_collapsible=True %}</div>
        <main id="content">
            {% block main %}
            {% endblock main %}
        </main>
        {% block follow_newsletter_social_media %}
        {% endblock follow_newsletter_social_media %}
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
        {% block theme_modale %}
            {% dsfr_theme_modale %}
        {% endblock theme_modale %}
        {% dsfr_js nonce=csp_nonce %}
        {% if MATOMO_BASE_URL %}
            <script nonce="{{ csp_nonce }}">
                var _paq = window._paq = window._paq || [];
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function() {
                    var u="{{ MATOMO_BASE_URL }}";
                    _paq.push(['setTrackerUrl', u+'matomo.php']);
                    _paq.push(['setSiteId', '{{ MATOMO_SITE_ID }}']);
                    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
                })();
            </script>
        {% endif %}
        {% block page_js %}
        {% endblock page_js %}
    </body>
</html>
