/* CSS Variables */
:root {
    --csplab-blue-france: #000091;
    --csplab-blue-light: #E3E3FD;
    --csplab-blue-alt: #F5F5FE;
    --csplab-text-title: #161616;
    --csplab-text-default: #3A3A3A;
    --csplab-success-bg: #B8FEC9;
    --csplab-success-text: #18753C;
    --csplab-action-info: #0063CB;
}
