{% extends "layouts/base.html" %}
{% load static %}
{% block page_title %}
    Connexion
{% endblock page_title %}
{% block main %}
    <div class="fr-container fr-py-10v fr-py-md-14v">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-lg-10">
                <div class="csplab-login__card fr-grid-row">
                    <div class="fr-col-12 fr-col-md-5 fr-background-alt--grey fr-py-10v fr-py-md-14v fr-px-3w fr-hidden fr-unhidden-md csplab-login__welcome">
                        <div class="csplab-login__welcome-content">
                            <img class="fr-mb-3w"
                                 src="{% static 'candidate/images/illustrations-csp/home-assis-11.svg' %}"
                                 width="200"
                                 height="200"
                                 alt=""
                                 aria-hidden="true">
                            <h1 class="fr-h3 fr-mb-2w">Bienvenue</h1>
                            <p class="fr-text--lg fr-text-mention--grey">Connectez-vous pour accéder à la gestion des candidatures</p>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-7 fr-py-10v fr-py-md-14v fr-px-3w fr-px-md-4w">
                        <h2 class="fr-h4 fr-mb-6v">Connexion</h2>
                        {% if PROCONNECT_LOGIN_ENABLED %}
                            <div class="fr-connect-group fr-mt-2w">
                                <a href="{% url 'identite:proconnect_login' %}{% if next %}?next={{ next|urlencode:'' }}{% endif %}"
                                   class="fr-connect">
                                    <span class="fr-connect__login">S'identifier avec</span>
                                    <span class="fr-connect__brand">ProConnect</span>
                                </a>
                                <p>
                                    <a href="https://www.proconnect.gouv.fr/"
                                       target="_blank"
                                       rel="noopener"
                                       title="Qu'est-ce que ProConnect ? - Ouvre une nouvelle fenêtre">Qu'est-ce que ProConnect ?</a>
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
