{% load dsfr_tags %}
<fieldset class="fr-fieldset fr-px-3v fr-stack-3v csplab-filter-fieldset"
          aria-labelledby="{{ filter_prefix|default:'' }}{{ legend_id }}">
    <legend class="fr-label fr-px-0 csplab-filter-fieldset__legend"
            id="{{ filter_prefix|default:'' }}{{ legend_id }}">
        <span class="csplab-filter-fieldset__legend-content">
            <span class="{{ icon_class }} fr-icon--sm fr-mr-1w" aria-hidden="true"></span>
            <span class="csplab-filter-fieldset__label">{{ label }}</span>
            {% if tooltip_content %}
                <span class="csplab-filter-fieldset__tooltip">
                    {% with prefixed_tooltip_id=filter_prefix|default:""|add:tooltip_id %}
                        {% dsfr_tooltip content=tooltip_content is_clickable=True id=prefixed_tooltip_id %}
                    {% endwith %}
                </span>
            {% endif %}
        </span>
    </legend>
    <div class="fr-fieldset__content">
        <ul class="fr-tags-group">
            {% for option in options %}
                {% if option.value %}
                    <li>
                        <label class="fr-tag csplab-filter-tag">
                            <input type="checkbox"
                                   id="{{ filter_prefix|default:'' }}{{ filter_name }}-{{ option.value }}"
                                   name="{{ filter_name }}"
                                   value="{{ option.value }}"
                                   class="fr-sr-only"
                                   {% if option.checked %}checked{% endif %}>
                            {{ option.text }}
                        </label>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</fieldset>
