{% load dsfr_tags %}
<ul class="fr-tags-group">
    {% if opportunity.opportunity_type_display %}
        <li>
            {% dsfr_tag label=opportunity.opportunity_type_display extra_classes="fr-icon-briefcase-line fr-tag--icon-left" %}
        </li>
    {% endif %}
    {% if opportunity.versant_display %}
        <li>{% dsfr_tag label=opportunity.versant_display extra_classes="fr-icon-government-line fr-tag--icon-left" %}</li>
    {% endif %}
    {% if opportunity.category_display %}
        <li>{% dsfr_tag label=opportunity.category_display extra_classes="fr-icon-award-line fr-tag--icon-left" %}</li>
    {% endif %}
</ul>
{% if opportunity.accordions %}
    {% dsfr_accordion_group opportunity.accordions %}
{% endif %}
