:root {
  /* Backgrounds */
  --background-default-grey: var(--grey-1000-50);
  --background-default-grey-hover: var(--grey-1000-50-hover);
  --background-default-grey-active: var(--grey-1000-50-active);
  --background-alt-grey: var(--grey-975-75);
  --background-alt-grey-hover: var(--grey-975-75-hover);
  --background-alt-grey-active: var(--grey-975-75-active);
  --background-alt-blue-france: var(--blue-france-975-75);
  --background-alt-blue-france-hover: var(--blue-france-975-75-hover);
  --background-alt-blue-france-active: var(--blue-france-975-75-active);
  --background-alt-red-marianne: var(--red-marianne-975-75);
  --background-alt-red-marianne-hover: var(--red-marianne-975-75-hover);
  --background-alt-red-marianne-active: var(--red-marianne-975-75-active);
  --background-alt-green-tilleul-verveine: var(--green-tilleul-verveine-975-75);
  --background-alt-green-tilleul-verveine-hover: var(--green-tilleul-verveine-975-75-hover);
  --background-alt-green-tilleul-verveine-active: var(--green-tilleul-verveine-975-75-active);
  --background-alt-green-bourgeon: var(--green-bourgeon-975-75);
  --background-alt-green-bourgeon-hover: var(--green-bourgeon-975-75-hover);
  --background-alt-green-bourgeon-active: var(--green-bourgeon-975-75-active);
  --background-alt-green-emeraude: var(--green-emeraude-975-75);
  --background-alt-green-emeraude-hover: var(--green-emeraude-975-75-hover);
  --background-alt-green-emeraude-active: var(--green-emeraude-975-75-active);
  --background-alt-green-menthe: var(--green-menthe-975-75);
  --background-alt-green-menthe-hover: var(--green-menthe-975-75-hover);
  --background-alt-green-menthe-active: var(--green-menthe-975-75-active);
  --background-alt-green-archipel: var(--green-archipel-975-75);
  --background-alt-green-archipel-hover: var(--green-archipel-975-75-hover);
  --background-alt-green-archipel-active: var(--green-archipel-975-75-active);
  --background-alt-blue-ecume: var(--blue-ecume-975-75);
  --background-alt-blue-ecume-hover: var(--blue-ecume-975-75-hover);
  --background-alt-blue-ecume-active: var(--blue-ecume-975-75-active);
  --background-alt-blue-cumulus: var(--blue-cumulus-975-75);
  --background-alt-blue-cumulus-hover: var(--blue-cumulus-975-75-hover);
  --background-alt-blue-cumulus-active: var(--blue-cumulus-975-75-active);
  --background-alt-purple-glycine: var(--purple-glycine-975-75);
  --background-alt-purple-glycine-hover: var(--purple-glycine-975-75-hover);
  --background-alt-purple-glycine-active: var(--purple-glycine-975-75-active);
  --background-alt-pink-macaron: var(--pink-macaron-975-75);
  --background-alt-pink-macaron-hover: var(--pink-macaron-975-75-hover);
  --background-alt-pink-macaron-active: var(--pink-macaron-975-75-active);
  --background-alt-pink-tuile: var(--pink-tuile-975-75);
  --background-alt-pink-tuile-hover: var(--pink-tuile-975-75-hover);
  --background-alt-pink-tuile-active: var(--pink-tuile-975-75-active);
  --background-alt-yellow-tournesol: var(--yellow-tournesol-975-75);
  --background-alt-yellow-tournesol-hover: var(--yellow-tournesol-975-75-hover);
  --background-alt-yellow-tournesol-active: var(--yellow-tournesol-975-75-active);
  --background-alt-yellow-moutarde: var(--yellow-moutarde-975-75);
  --background-alt-yellow-moutarde-hover: var(--yellow-moutarde-975-75-hover);
  --background-alt-yellow-moutarde-active: var(--yellow-moutarde-975-75-active);
  --background-alt-orange-terre-battue: var(--orange-terre-battue-975-75);
  --background-alt-orange-terre-battue-hover: var(--orange-terre-battue-975-75-hover);
  --background-alt-orange-terre-battue-active: var(--orange-terre-battue-975-75-active);
  --background-alt-brown-cafe-creme: var(--brown-cafe-creme-975-75);
  --background-alt-brown-cafe-creme-hover: var(--brown-cafe-creme-975-75-hover);
  --background-alt-brown-cafe-creme-active: var(--brown-cafe-creme-975-75-active);
  --background-alt-brown-caramel: var(--brown-caramel-975-75);
  --background-alt-brown-caramel-hover: var(--brown-caramel-975-75-hover);
  --background-alt-brown-caramel-active: var(--brown-caramel-975-75-active);
  --background-alt-brown-opera: var(--brown-opera-975-75);
  --background-alt-brown-opera-hover: var(--brown-opera-975-75-hover);
  --background-alt-brown-opera-active: var(--brown-opera-975-75-active);
  --background-alt-beige-gris-galet: var(--beige-gris-galet-975-75);
  --background-alt-beige-gris-galet-hover: var(--beige-gris-galet-975-75-hover);
  --background-alt-beige-gris-galet-active: var(--beige-gris-galet-975-75-active);
  --background-contrast-grey: var(--grey-950-100);
  --background-contrast-grey-hover: var(--grey-950-100-hover);
  --background-contrast-grey-active: var(--grey-950-100-active);
  --background-contrast-blue-france: var(--blue-france-950-100);
  --background-contrast-blue-france-hover: var(--blue-france-950-100-hover);
  --background-contrast-blue-france-active: var(--blue-france-950-100-active);
  --background-contrast-red-marianne: var(--red-marianne-950-100);
  --background-contrast-red-marianne-hover: var(--red-marianne-950-100-hover);
  --background-contrast-red-marianne-active: var(--red-marianne-950-100-active);
  --background-contrast-green-tilleul-verveine: var(--green-tilleul-verveine-950-100);
  --background-contrast-green-tilleul-verveine-hover: var(--green-tilleul-verveine-950-100-hover);
  --background-contrast-green-tilleul-verveine-active: var(--green-tilleul-verveine-950-100-active);
  --background-contrast-green-bourgeon: var(--green-bourgeon-950-100);
  --background-contrast-green-bourgeon-hover: var(--green-bourgeon-950-100-hover);
  --background-contrast-green-bourgeon-active: var(--green-bourgeon-950-100-active);
  --background-contrast-green-emeraude: var(--green-emeraude-950-100);
  --background-contrast-green-emeraude-hover: var(--green-emeraude-950-100-hover);
  --background-contrast-green-emeraude-active: var(--green-emeraude-950-100-active);
  --background-contrast-green-menthe: var(--green-menthe-950-100);
  --background-contrast-green-menthe-hover: var(--green-menthe-950-100-hover);
  --background-contrast-green-menthe-active: var(--green-menthe-950-100-active);
  --background-contrast-green-archipel: var(--green-archipel-950-100);
  --background-contrast-green-archipel-hover: var(--green-archipel-950-100-hover);
  --background-contrast-green-archipel-active: var(--green-archipel-950-100-active);
  --background-contrast-blue-ecume: var(--blue-ecume-950-100);
  --background-contrast-blue-ecume-hover: var(--blue-ecume-950-100-hover);
  --background-contrast-blue-ecume-active: var(--blue-ecume-950-100-active);
  --background-contrast-blue-cumulus: var(--blue-cumulus-950-100);
  --background-contrast-blue-cumulus-hover: var(--blue-cumulus-950-100-hover);
  --background-contrast-blue-cumulus-active: var(--blue-cumulus-950-100-active);
  --background-contrast-purple-glycine: var(--purple-glycine-950-100);
  --background-contrast-purple-glycine-hover: var(--purple-glycine-950-100-hover);
  --background-contrast-purple-glycine-active: var(--purple-glycine-950-100-active);
  --background-contrast-pink-macaron: var(--pink-macaron-950-100);
  --background-contrast-pink-macaron-hover: var(--pink-macaron-950-100-hover);
  --background-contrast-pink-macaron-active: var(--pink-macaron-950-100-active);
  --background-contrast-pink-tuile: var(--pink-tuile-950-100);
  --background-contrast-pink-tuile-hover: var(--pink-tuile-950-100-hover);
  --background-contrast-pink-tuile-active: var(--pink-tuile-950-100-active);
  --background-contrast-yellow-tournesol: var(--yellow-tournesol-950-100);
  --background-contrast-yellow-tournesol-hover: var(--yellow-tournesol-950-100-hover);
  --background-contrast-yellow-tournesol-active: var(--yellow-tournesol-950-100-active);
  --background-contrast-yellow-moutarde: var(--yellow-moutarde-950-100);
  --background-contrast-yellow-moutarde-hover: var(--yellow-moutarde-950-100-hover);
  --background-contrast-yellow-moutarde-active: var(--yellow-moutarde-950-100-active);
  --background-contrast-orange-terre-battue: var(--orange-terre-battue-950-100);
  --background-contrast-orange-terre-battue-hover: var(--orange-terre-battue-950-100-hover);
  --background-contrast-orange-terre-battue-active: var(--orange-terre-battue-950-100-active);
  --background-contrast-brown-cafe-creme: var(--brown-cafe-creme-950-100);
  --background-contrast-brown-cafe-creme-hover: var(--brown-cafe-creme-950-100-hover);
  --background-contrast-brown-cafe-creme-active: var(--brown-cafe-creme-950-100-active);
  --background-contrast-brown-caramel: var(--brown-caramel-950-100);
  --background-contrast-brown-caramel-hover: var(--brown-caramel-950-100-hover);
  --background-contrast-brown-caramel-active: var(--brown-caramel-950-100-active);
  --background-contrast-brown-opera: var(--brown-opera-950-100);
  --background-contrast-brown-opera-hover: var(--brown-opera-950-100-hover);
  --background-contrast-brown-opera-active: var(--brown-opera-950-100-active);
  --background-contrast-beige-gris-galet: var(--beige-gris-galet-950-100);
  --background-contrast-beige-gris-galet-hover: var(--beige-gris-galet-950-100-hover);
  --background-contrast-beige-gris-galet-active: var(--beige-gris-galet-950-100-active);
  --background-contrast-info: var(--info-950-100);
  --background-contrast-info-hover: var(--info-950-100-hover);
  --background-contrast-info-active: var(--info-950-100-active);
  --background-contrast-success: var(--success-950-100);
  --background-contrast-success-hover: var(--success-950-100-hover);
  --background-contrast-success-active: var(--success-950-100-active);
  --background-contrast-warning: var(--warning-950-100);
  --background-contrast-warning-hover: var(--warning-950-100-hover);
  --background-contrast-warning-active: var(--warning-950-100-active);
  --background-contrast-error: var(--error-950-100);
  --background-contrast-error-hover: var(--error-950-100-hover);
  --background-contrast-error-active: var(--error-950-100-active);
  --background-flat-grey: var(--grey-200-850);
  --background-flat-blue-france: var(--blue-france-sun-113-625);
  --background-flat-red-marianne: var(--red-marianne-425-625);
  --background-flat-green-tilleul-verveine: var(--green-tilleul-verveine-sun-418-moon-817);
  --background-flat-green-bourgeon: var(--green-bourgeon-sun-425-moon-759);
  --background-flat-green-emeraude: var(--green-emeraude-sun-425-moon-753);
  --background-flat-green-menthe: var(--green-menthe-sun-373-moon-652);
  --background-flat-green-archipel: var(--green-archipel-sun-391-moon-716);
  --background-flat-blue-ecume: var(--blue-ecume-sun-247-moon-675);
  --background-flat-blue-cumulus: var(--blue-cumulus-sun-368-moon-732);
  --background-flat-purple-glycine: var(--purple-glycine-sun-319-moon-630);
  --background-flat-pink-macaron: var(--pink-macaron-sun-406-moon-833);
  --background-flat-pink-tuile: var(--pink-tuile-sun-425-moon-750);
  --background-flat-yellow-tournesol: var(--yellow-tournesol-sun-407-moon-922);
  --background-flat-yellow-moutarde: var(--yellow-moutarde-sun-348-moon-860);
  --background-flat-orange-terre-battue: var(--orange-terre-battue-sun-370-moon-672);
  --background-flat-brown-cafe-creme: var(--brown-cafe-creme-sun-383-moon-885);
  --background-flat-brown-caramel: var(--brown-caramel-sun-425-moon-901);
  --background-flat-brown-opera: var(--brown-opera-sun-395-moon-820);
  --background-flat-beige-gris-galet: var(--beige-gris-galet-sun-407-moon-821);
  --background-flat-info: var(--info-425-625);
  --background-flat-success: var(--success-425-625);
  --background-flat-warning: var(--warning-425-625);
  --background-flat-error: var(--error-425-625);
  --background-action-high-grey: var(--grey-200-850);
  --background-action-high-grey-hover: var(--grey-200-850-hover);
  --background-action-high-grey-active: var(--grey-200-850-active);
  --background-action-high-blue-france: var(--blue-france-sun-113-625);
  --background-action-high-blue-france-hover: var(--blue-france-sun-113-625-hover);
  --background-action-high-blue-france-active: var(--blue-france-sun-113-625-active);
  --background-action-high-red-marianne: var(--red-marianne-425-625);
  --background-action-high-red-marianne-hover: var(--red-marianne-425-625-hover);
  --background-action-high-red-marianne-active: var(--red-marianne-425-625-active);
  --background-action-high-green-tilleul-verveine: var(--green-tilleul-verveine-sun-418-moon-817);
  --background-action-high-green-tilleul-verveine-hover: var(--green-tilleul-verveine-sun-418-moon-817-hover);
  --background-action-high-green-tilleul-verveine-active: var(--green-tilleul-verveine-sun-418-moon-817-active);
  --background-action-high-green-bourgeon: var(--green-bourgeon-sun-425-moon-759);
  --background-action-high-green-bourgeon-hover: var(--green-bourgeon-sun-425-moon-759-hover);
  --background-action-high-green-bourgeon-active: var(--green-bourgeon-sun-425-moon-759-active);
  --background-action-high-green-emeraude: var(--green-emeraude-sun-425-moon-753);
  --background-action-high-green-emeraude-hover: var(--green-emeraude-sun-425-moon-753-hover);
  --background-action-high-green-emeraude-active: var(--green-emeraude-sun-425-moon-753-active);
  --background-action-high-green-menthe: var(--green-menthe-sun-373-moon-652);
  --background-action-high-green-menthe-hover: var(--green-menthe-sun-373-moon-652-hover);
  --background-action-high-green-menthe-active: var(--green-menthe-sun-373-moon-652-active);
  --background-action-high-green-archipel: var(--green-archipel-sun-391-moon-716);
  --background-action-high-green-archipel-hover: var(--green-archipel-sun-391-moon-716-hover);
  --background-action-high-green-archipel-active: var(--green-archipel-sun-391-moon-716-active);
  --background-action-high-blue-ecume: var(--blue-ecume-sun-247-moon-675);
  --background-action-high-blue-ecume-hover: var(--blue-ecume-sun-247-moon-675-hover);
  --background-action-high-blue-ecume-active: var(--blue-ecume-sun-247-moon-675-active);
  --background-action-high-blue-cumulus: var(--blue-cumulus-sun-368-moon-732);
  --background-action-high-blue-cumulus-hover: var(--blue-cumulus-sun-368-moon-732-hover);
  --background-action-high-blue-cumulus-active: var(--blue-cumulus-sun-368-moon-732-active);
  --background-action-high-purple-glycine: var(--purple-glycine-sun-319-moon-630);
  --background-action-high-purple-glycine-hover: var(--purple-glycine-sun-319-moon-630-hover);
  --background-action-high-purple-glycine-active: var(--purple-glycine-sun-319-moon-630-active);
  --background-action-high-pink-macaron: var(--pink-macaron-sun-406-moon-833);
  --background-action-high-pink-macaron-hover: var(--pink-macaron-sun-406-moon-833-hover);
  --background-action-high-pink-macaron-active: var(--pink-macaron-sun-406-moon-833-active);
  --background-action-high-pink-tuile: var(--pink-tuile-sun-425-moon-750);
  --background-action-high-pink-tuile-hover: var(--pink-tuile-sun-425-moon-750-hover);
  --background-action-high-pink-tuile-active: var(--pink-tuile-sun-425-moon-750-active);
  --background-action-high-yellow-tournesol: var(--yellow-tournesol-sun-407-moon-922);
  --background-action-high-yellow-tournesol-hover: var(--yellow-tournesol-sun-407-moon-922-hover);
  --background-action-high-yellow-tournesol-active: var(--yellow-tournesol-sun-407-moon-922-active);
  --background-action-high-yellow-moutarde: var(--yellow-moutarde-sun-348-moon-860);
  --background-action-high-yellow-moutarde-hover: var(--yellow-moutarde-sun-348-moon-860-hover);
  --background-action-high-yellow-moutarde-active: var(--yellow-moutarde-sun-348-moon-860-active);
  --background-action-high-orange-terre-battue: var(--orange-terre-battue-sun-370-moon-672);
  --background-action-high-orange-terre-battue-hover: var(--orange-terre-battue-sun-370-moon-672-hover);
  --background-action-high-orange-terre-battue-active: var(--orange-terre-battue-sun-370-moon-672-active);
  --background-action-high-brown-cafe-creme: var(--brown-cafe-creme-sun-383-moon-885);
  --background-action-high-brown-cafe-creme-hover: var(--brown-cafe-creme-sun-383-moon-885-hover);
  --background-action-high-brown-cafe-creme-active: var(--brown-cafe-creme-sun-383-moon-885-active);
  --background-action-high-brown-caramel: var(--brown-caramel-sun-425-moon-901);
  --background-action-high-brown-caramel-hover: var(--brown-caramel-sun-425-moon-901-hover);
  --background-action-high-brown-caramel-active: var(--brown-caramel-sun-425-moon-901-active);
  --background-action-high-brown-opera: var(--brown-opera-sun-395-moon-820);
  --background-action-high-brown-opera-hover: var(--brown-opera-sun-395-moon-820-hover);
  --background-action-high-brown-opera-active: var(--brown-opera-sun-395-moon-820-active);
  --background-action-high-beige-gris-galet: var(--beige-gris-galet-sun-407-moon-821);
  --background-action-high-beige-gris-galet-hover: var(--beige-gris-galet-sun-407-moon-821-hover);
  --background-action-high-beige-gris-galet-active: var(--beige-gris-galet-sun-407-moon-821-active);
  --background-action-high-info: var(--info-425-625);
  --background-action-high-info-hover: var(--info-425-625-hover);
  --background-action-high-info-active: var(--info-425-625-active);
  --background-action-high-success: var(--success-425-625);
  --background-action-high-success-hover: var(--success-425-625-hover);
  --background-action-high-success-active: var(--success-425-625-active);
  --background-action-high-warning: var(--warning-425-625);
  --background-action-high-warning-hover: var(--warning-425-625-hover);
  --background-action-high-warning-active: var(--warning-425-625-active);
  --background-action-high-error: var(--error-425-625);
  --background-action-high-error-hover: var(--error-425-625-hover);
  --background-action-high-error-active: var(--error-425-625-active);
  --background-action-low-blue-france: var(--blue-france-925-125);
  --background-action-low-blue-france-hover: var(--blue-france-925-125-hover);
  --background-action-low-blue-france-active: var(--blue-france-925-125-active);
  --background-action-low-red-marianne: var(--red-marianne-925-125);
  --background-action-low-red-marianne-hover: var(--red-marianne-925-125-hover);
  --background-action-low-red-marianne-active: var(--red-marianne-925-125-active);
  --background-action-low-green-tilleul-verveine: var(--green-tilleul-verveine-925-125);
  --background-action-low-green-tilleul-verveine-hover: var(--green-tilleul-verveine-925-125-hover);
  --background-action-low-green-tilleul-verveine-active: var(--green-tilleul-verveine-925-125-active);
  --background-action-low-green-bourgeon: var(--green-bourgeon-925-125);
  --background-action-low-green-bourgeon-hover: var(--green-bourgeon-925-125-hover);
  --background-action-low-green-bourgeon-active: var(--green-bourgeon-925-125-active);
  --background-action-low-green-emeraude: var(--green-emeraude-925-125);
  --background-action-low-green-emeraude-hover: var(--green-emeraude-925-125-hover);
  --background-action-low-green-emeraude-active: var(--green-emeraude-925-125-active);
  --background-action-low-green-menthe: var(--green-menthe-925-125);
  --background-action-low-green-menthe-hover: var(--green-menthe-925-125-hover);
  --background-action-low-green-menthe-active: var(--green-menthe-925-125-active);
  --background-action-low-green-archipel: var(--green-archipel-925-125);
  --background-action-low-green-archipel-hover: var(--green-archipel-925-125-hover);
  --background-action-low-green-archipel-active: var(--green-archipel-925-125-active);
  --background-action-low-blue-ecume: var(--blue-ecume-925-125);
  --background-action-low-blue-ecume-hover: var(--blue-ecume-925-125-hover);
  --background-action-low-blue-ecume-active: var(--blue-ecume-925-125-active);
  --background-action-low-blue-cumulus: var(--blue-cumulus-925-125);
  --background-action-low-blue-cumulus-hover: var(--blue-cumulus-925-125-hover);
  --background-action-low-blue-cumulus-active: var(--blue-cumulus-925-125-active);
  --background-action-low-purple-glycine: var(--purple-glycine-925-125);
  --background-action-low-purple-glycine-hover: var(--purple-glycine-925-125-hover);
  --background-action-low-purple-glycine-active: var(--purple-glycine-925-125-active);
  --background-action-low-pink-macaron: var(--pink-macaron-925-125);
  --background-action-low-pink-macaron-hover: var(--pink-macaron-925-125-hover);
  --background-action-low-pink-macaron-active: var(--pink-macaron-925-125-active);
  --background-action-low-pink-tuile: var(--pink-tuile-925-125);
  --background-action-low-pink-tuile-hover: var(--pink-tuile-925-125-hover);
  --background-action-low-pink-tuile-active: var(--pink-tuile-925-125-active);
  --background-action-low-yellow-tournesol: var(--yellow-tournesol-925-125);
  --background-action-low-yellow-tournesol-hover: var(--yellow-tournesol-925-125-hover);
  --background-action-low-yellow-tournesol-active: var(--yellow-tournesol-925-125-active);
  --background-action-low-yellow-moutarde: var(--yellow-moutarde-925-125);
  --background-action-low-yellow-moutarde-hover: var(--yellow-moutarde-925-125-hover);
  --background-action-low-yellow-moutarde-active: var(--yellow-moutarde-925-125-active);
  --background-action-low-orange-terre-battue: var(--orange-terre-battue-925-125);
  --background-action-low-orange-terre-battue-hover: var(--orange-terre-battue-925-125-hover);
  --background-action-low-orange-terre-battue-active: var(--orange-terre-battue-925-125-active);
  --background-action-low-brown-cafe-creme: var(--brown-cafe-creme-925-125);
  --background-action-low-brown-cafe-creme-hover: var(--brown-cafe-creme-925-125-hover);
  --background-action-low-brown-cafe-creme-active: var(--brown-cafe-creme-925-125-active);
  --background-action-low-brown-caramel: var(--brown-caramel-925-125);
  --background-action-low-brown-caramel-hover: var(--brown-caramel-925-125-hover);
  --background-action-low-brown-caramel-active: var(--brown-caramel-925-125-active);
  --background-action-low-brown-opera: var(--brown-opera-925-125);
  --background-action-low-brown-opera-hover: var(--brown-opera-925-125-hover);
  --background-action-low-brown-opera-active: var(--brown-opera-925-125-active);
  --background-action-low-beige-gris-galet: var(--beige-gris-galet-925-125);
  --background-action-low-beige-gris-galet-hover: var(--beige-gris-galet-925-125-hover);
  --background-action-low-beige-gris-galet-active: var(--beige-gris-galet-925-125-active);
  --background-active-blue-france: var(--blue-france-sun-113-625);
  --background-active-blue-france-hover: var(--blue-france-sun-113-625-hover);
  --background-active-blue-france-active: var(--blue-france-sun-113-625-active);
  --background-active-red-marianne: var(--red-marianne-425-625);
  --background-active-red-marianne-hover: var(--red-marianne-425-625-hover);
  --background-active-red-marianne-active: var(--red-marianne-425-625-active);
  --background-open-blue-france: var(--blue-france-925-125);
  --background-open-blue-france-hover: var(--blue-france-925-125-hover);
  --background-open-blue-france-active: var(--blue-france-925-125-active);
  --background-open-red-marianne: var(--red-marianne-925-125);
  --background-open-red-marianne-hover: var(--red-marianne-925-125-hover);
  --background-open-red-marianne-active: var(--red-marianne-925-125-active);
  --background-disabled-grey: var(--grey-925-125);
  --background-raised-grey: var(--grey-1000-75);
  --background-raised-grey-hover: var(--grey-1000-75-hover);
  --background-raised-grey-active: var(--grey-1000-75-active);
  --background-overlap-grey: var(--grey-1000-100);
  --background-overlap-grey-hover: var(--grey-1000-100-hover);
  --background-overlap-grey-active: var(--grey-1000-100-active);
  --background-lifted-grey: var(--grey-1000-75);
  --background-lifted-grey-hover: var(--grey-1000-75-hover);
  --background-lifted-grey-active: var(--grey-1000-75-active);
  --background-alt-raised-grey: var(--grey-975-100);
  --background-alt-raised-grey-hover: var(--grey-975-100-hover);
  --background-alt-raised-grey-active: var(--grey-975-100-active);
  --background-alt-overlap-grey: var(--grey-975-125);
  --background-alt-overlap-grey-hover: var(--grey-975-125-hover);
  --background-alt-overlap-grey-active: var(--grey-975-125-active);
  --background-contrast-raised-grey: var(--grey-950-125);
  --background-contrast-raised-grey-hover: var(--grey-950-125-hover);
  --background-contrast-raised-grey-active: var(--grey-950-125-active);
  --background-contrast-overlap-grey: var(--grey-950-150);
  --background-contrast-overlap-grey-hover: var(--grey-950-150-hover);
  --background-contrast-overlap-grey-active: var(--grey-950-150-active);

  /** Texts */
  --text-default-grey: var(--grey-200-850);
  --text-default-info: var(--info-425-625);
  --text-default-success: var(--success-425-625);
  --text-default-warning: var(--warning-425-625);
  --text-default-error: var(--error-425-625);
  --text-action-high-grey: var(--grey-50-1000);
  --text-action-high-blue-france: var(--blue-france-sun-113-625);
  --text-action-high-red-marianne: var(--red-marianne-425-625);
  --text-action-high-green-tilleul-verveine: var(--green-tilleul-verveine-sun-418-moon-817);
  --text-action-high-green-bourgeon: var(--green-bourgeon-sun-425-moon-759);
  --text-action-high-green-emeraude: var(--green-emeraude-sun-425-moon-753);
  --text-action-high-green-menthe: var(--green-menthe-sun-373-moon-652);
  --text-action-high-green-archipel: var(--green-archipel-sun-391-moon-716);
  --text-action-high-blue-ecume: var(--blue-ecume-sun-247-moon-675);
  --text-action-high-blue-cumulus: var(--blue-cumulus-sun-368-moon-732);
  --text-action-high-purple-glycine: var(--purple-glycine-sun-319-moon-630);
  --text-action-high-pink-macaron: var(--pink-macaron-sun-406-moon-833);
  --text-action-high-pink-tuile: var(--pink-tuile-sun-425-moon-750);
  --text-action-high-yellow-tournesol: var(--yellow-tournesol-sun-407-moon-922);
  --text-action-high-yellow-moutarde: var(--yellow-moutarde-sun-348-moon-860);
  --text-action-high-orange-terre-battue: var(--orange-terre-battue-sun-370-moon-672);
  --text-action-high-brown-cafe-creme: var(--brown-cafe-creme-sun-383-moon-885);
  --text-action-high-brown-caramel: var(--brown-caramel-sun-425-moon-901);
  --text-action-high-brown-opera: var(--brown-opera-sun-395-moon-820);
  --text-action-high-beige-gris-galet: var(--beige-gris-galet-sun-407-moon-821);
  --text-title-grey: var(--grey-50-1000);
  --text-title-blue-france: var(--blue-france-sun-113-625);
  --text-title-red-marianne: var(--red-marianne-425-625);
  --text-label-grey: var(--grey-50-1000);
  --text-label-blue-france: var(--blue-france-sun-113-625);
  --text-label-red-marianne: var(--red-marianne-425-625);
  --text-label-green-tilleul-verveine: var(--green-tilleul-verveine-sun-418-moon-817);
  --text-label-green-bourgeon: var(--green-bourgeon-sun-425-moon-759);
  --text-label-green-emeraude: var(--green-emeraude-sun-425-moon-753);
  --text-label-green-menthe: var(--green-menthe-sun-373-moon-652);
  --text-label-green-archipel: var(--green-archipel-sun-391-moon-716);
  --text-label-blue-ecume: var(--blue-ecume-sun-247-moon-675);
  --text-label-blue-cumulus: var(--blue-cumulus-sun-368-moon-732);
  --text-label-purple-glycine: var(--purple-glycine-sun-319-moon-630);
  --text-label-pink-macaron: var(--pink-macaron-sun-406-moon-833);
  --text-label-pink-tuile: var(--pink-tuile-sun-425-moon-750);
  --text-label-yellow-tournesol: var(--yellow-tournesol-sun-407-moon-922);
  --text-label-yellow-moutarde: var(--yellow-moutarde-sun-348-moon-860);
  --text-label-orange-terre-battue: var(--orange-terre-battue-sun-370-moon-672);
  --text-label-brown-cafe-creme: var(--brown-cafe-creme-sun-383-moon-885);
  --text-label-brown-caramel: var(--brown-caramel-sun-425-moon-901);
  --text-label-brown-opera: var(--brown-opera-sun-395-moon-820);
  --text-label-beige-gris-galet: var(--beige-gris-galet-sun-407-moon-821);
  --text-active-grey: var(--grey-50-1000);
  --text-active-blue-france: var(--blue-france-sun-113-625);
  --text-active-red-marianne: var(--red-marianne-425-625);
  --text-mention-grey: var(--grey-425-625);
  --text-inverted-grey: var(--grey-1000-50);
  --text-inverted-blue-france: var(--blue-france-975-sun-113);
  --text-inverted-red-marianne: var(--red-marianne-975-75);
  --text-inverted-info: var(--info-975-75);
  --text-inverted-success: var(--success-975-75);
  --text-inverted-warning: var(--warning-975-75);
  --text-inverted-error: var(--error-975-75);
  --text-inverted-green-tilleul-verveine: var(--green-tilleul-verveine-975-75);
  --text-inverted-green-bourgeon: var(--green-bourgeon-975-75);
  --text-inverted-green-emeraude: var(--green-emeraude-975-75);
  --text-inverted-green-menthe: var(--green-menthe-975-75);
  --text-inverted-green-archipel: var(--green-archipel-975-75);
  --text-inverted-blue-ecume: var(--blue-ecume-975-75);
  --text-inverted-blue-cumulus: var(--blue-cumulus-975-75);
  --text-inverted-purple-glycine: var(--purple-glycine-975-75);
  --text-inverted-pink-macaron: var(--pink-macaron-975-75);
  --text-inverted-pink-tuile: var(--pink-tuile-975-75);
  --text-inverted-yellow-tournesol: var(--yellow-tournesol-975-75);
  --text-inverted-yellow-moutarde: var(--yellow-moutarde-975-75);
  --text-inverted-orange-terre-battue: var(--orange-terre-battue-975-75);
  --text-inverted-brown-cafe-creme: var(--brown-cafe-creme-975-75);
  --text-inverted-brown-caramel: var(--brown-caramel-975-75);
  --text-inverted-brown-opera: var(--brown-opera-975-75);
  --text-inverted-beige-gris-galet: var(--beige-gris-galet-975-75);
  --text-disabled-grey: var(--grey-625-425);
  --text-black-white-grey: var(--grey-0-1000);

  /** Borders */
  --border-default-grey: var(--grey-900-175);
  --border-default-blue-france: var(--blue-france-main-525);
  --border-default-red-marianne: var(--red-marianne-main-472);
  --border-default-green-tilleul-verveine: var(--green-tilleul-verveine-main-707);
  --border-default-green-bourgeon: var(--green-bourgeon-main-640);
  --border-default-green-emeraude: var(--green-emeraude-main-632);
  --border-default-green-menthe: var(--green-menthe-main-548);
  --border-default-green-archipel: var(--green-archipel-main-557);
  --border-default-blue-ecume: var(--blue-ecume-main-400);
  --border-default-blue-cumulus: var(--blue-cumulus-main-526);
  --border-default-purple-glycine: var(--purple-glycine-main-494);
  --border-default-pink-macaron: var(--pink-macaron-main-689);
  --border-default-pink-tuile: var(--pink-tuile-main-556);
  --border-default-yellow-tournesol: var(--yellow-tournesol-main-731);
  --border-default-yellow-moutarde: var(--yellow-moutarde-main-679);
  --border-default-orange-terre-battue: var(--orange-terre-battue-main-645);
  --border-default-brown-cafe-creme: var(--brown-cafe-creme-main-782);
  --border-default-brown-caramel: var(--brown-caramel-main-648);
  --border-default-brown-opera: var(--brown-opera-main-680);
  --border-default-beige-gris-galet: var(--beige-gris-galet-main-702);
  --border-contrast-grey: var(--grey-625-425);
  --border-active-blue-france: var(--blue-france-sun-113-625);
  --border-active-red-marianne: var(--red-marianne-425-625);
  --border-action-high-grey: var(--grey-50-1000);
  --border-action-high-blue-france: var(--blue-france-sun-113-625);
  --border-action-high-red-marianne: var(--red-marianne-425-625);
  --border-action-high-info: var(--info-425-625);
  --border-action-high-success: var(--success-425-625);
  --border-action-high-warning: var(--warning-425-625);
  --border-action-high-error: var(--error-425-625);
  --border-action-low-blue-france: var(--blue-france-850-200);
  --border-action-low-red-marianne: var(--red-marianne-850-200);
  --border-action-low-green-tilleul-verveine: var(--green-tilleul-verveine-850-200);
  --border-action-low-green-bourgeon: var(--green-bourgeon-850-200);
  --border-action-low-green-emeraude: var(--green-emeraude-850-200);
  --border-action-low-green-menthe: var(--green-menthe-850-200);
  --border-action-low-green-archipel: var(--green-archipel-850-200);
  --border-action-low-blue-ecume: var(--blue-ecume-850-200);
  --border-action-low-blue-cumulus: var(--blue-cumulus-850-200);
  --border-action-low-purple-glycine: var(--purple-glycine-850-200);
  --border-action-low-pink-macaron: var(--pink-macaron-850-200);
  --border-action-low-pink-tuile: var(--pink-tuile-850-200);
  --border-action-low-yellow-tournesol: var(--yellow-tournesol-850-200);
  --border-action-low-yellow-moutarde: var(--yellow-moutarde-850-200);
  --border-action-low-orange-terre-battue: var(--orange-terre-battue-850-200);
  --border-action-low-brown-cafe-creme: var(--brown-cafe-creme-850-200);
  --border-action-low-brown-caramel: var(--brown-caramel-850-200);
  --border-action-low-brown-opera: var(--brown-opera-850-200);
  --border-action-low-beige-gris-galet: var(--beige-gris-galet-850-200);
  --border-open-blue-france: var(--blue-france-925-125);
  --border-open-red-marianne: var(--red-marianne-925-125);
  --border-plain-grey: var(--grey-200-850);
  --border-plain-blue-france: var(--blue-france-sun-113-625);
  --border-plain-red-marianne: var(--red-marianne-425-625);
  --border-plain-info: var(--info-425-625);
  --border-plain-success: var(--success-425-625);
  --border-plain-warning: var(--warning-425-625);
  --border-plain-error: var(--error-425-625);
  --border-plain-green-tilleul-verveine: var(--green-tilleul-verveine-sun-418-moon-817);
  --border-plain-green-bourgeon: var(--green-bourgeon-sun-425-moon-759);
  --border-plain-green-emeraude: var(--green-emeraude-sun-425-moon-753);
  --border-plain-green-menthe: var(--green-menthe-sun-373-moon-652);
  --border-plain-green-archipel: var(--green-archipel-sun-391-moon-716);
  --border-plain-blue-ecume: var(--blue-ecume-sun-247-moon-675);
  --border-plain-blue-cumulus: var(--blue-cumulus-sun-368-moon-732);
  --border-plain-purple-glycine: var(--purple-glycine-sun-319-moon-630);
  --border-plain-pink-macaron: var(--pink-macaron-sun-406-moon-833);
  --border-plain-pink-tuile: var(--pink-tuile-sun-425-moon-750);
  --border-plain-yellow-tournesol: var(--yellow-tournesol-sun-407-moon-922);
  --border-plain-yellow-moutarde: var(--yellow-moutarde-sun-348-moon-860);
  --border-plain-orange-terre-battue: var(--orange-terre-battue-sun-370-moon-672);
  --border-plain-brown-cafe-creme: var(--brown-cafe-creme-sun-383-moon-885);
  --border-plain-brown-caramel: var(--brown-caramel-sun-425-moon-901);
  --border-plain-brown-opera: var(--brown-opera-sun-395-moon-820);
  --border-plain-beige-gris-galet: var(--beige-gris-galet-sun-407-moon-821);
  --border-disabled-grey: var(--grey-925-125);

  /** Artworks */
  --artwork-major-blue-france: var(--blue-france-sun-113-625);
  --artwork-major-blue-france-hover: var(--blue-france-sun-113-625-hover);
  --artwork-major-blue-france-active: var(--blue-france-sun-113-625-active);
  --artwork-major-red-marianne: var(--red-marianne-425-625);
  --artwork-major-red-marianne-hover: var(--red-marianne-425-625-hover);
  --artwork-major-red-marianne-active: var(--red-marianne-425-625-active);
  --artwork-major-green-tilleul-verveine: var(--green-tilleul-verveine-sun-418-moon-817);
  --artwork-major-green-tilleul-verveine-hover: var(--green-tilleul-verveine-sun-418-moon-817-hover);
  --artwork-major-green-tilleul-verveine-active: var(--green-tilleul-verveine-sun-418-moon-817-active);
  --artwork-major-green-bourgeon: var(--green-bourgeon-sun-425-moon-759);
  --artwork-major-green-bourgeon-hover: var(--green-bourgeon-sun-425-moon-759-hover);
  --artwork-major-green-bourgeon-active: var(--green-bourgeon-sun-425-moon-759-active);
  --artwork-major-green-emeraude: var(--green-emeraude-sun-425-moon-753);
  --artwork-major-green-emeraude-hover: var(--green-emeraude-sun-425-moon-753-hover);
  --artwork-major-green-emeraude-active: var(--green-emeraude-sun-425-moon-753-active);
  --artwork-major-green-menthe: var(--green-menthe-sun-373-moon-652);
  --artwork-major-green-menthe-hover: var(--green-menthe-sun-373-moon-652-hover);
  --artwork-major-green-menthe-active: var(--green-menthe-sun-373-moon-652-active);
  --artwork-major-green-archipel: var(--green-archipel-sun-391-moon-716);
  --artwork-major-green-archipel-hover: var(--green-archipel-sun-391-moon-716-hover);
  --artwork-major-green-archipel-active: var(--green-archipel-sun-391-moon-716-active);
  --artwork-major-blue-ecume: var(--blue-ecume-sun-247-moon-675);
  --artwork-major-blue-ecume-hover: var(--blue-ecume-sun-247-moon-675-hover);
  --artwork-major-blue-ecume-active: var(--blue-ecume-sun-247-moon-675-active);
  --artwork-major-blue-cumulus: var(--blue-cumulus-sun-368-moon-732);
  --artwork-major-blue-cumulus-hover: var(--blue-cumulus-sun-368-moon-732-hover);
  --artwork-major-blue-cumulus-active: var(--blue-cumulus-sun-368-moon-732-active);
  --artwork-major-purple-glycine: var(--purple-glycine-sun-319-moon-630);
  --artwork-major-purple-glycine-hover: var(--purple-glycine-sun-319-moon-630-hover);
  --artwork-major-purple-glycine-active: var(--purple-glycine-sun-319-moon-630-active);
  --artwork-major-pink-macaron: var(--pink-macaron-sun-406-moon-833);
  --artwork-major-pink-macaron-hover: var(--pink-macaron-sun-406-moon-833-hover);
  --artwork-major-pink-macaron-active: var(--pink-macaron-sun-406-moon-833-active);
  --artwork-major-pink-tuile: var(--pink-tuile-sun-425-moon-750);
  --artwork-major-pink-tuile-hover: var(--pink-tuile-sun-425-moon-750-hover);
  --artwork-major-pink-tuile-active: var(--pink-tuile-sun-425-moon-750-active);
  --artwork-major-yellow-tournesol: var(--yellow-tournesol-sun-407-moon-922);
  --artwork-major-yellow-tournesol-hover: var(--yellow-tournesol-sun-407-moon-922-hover);
  --artwork-major-yellow-tournesol-active: var(--yellow-tournesol-sun-407-moon-922-active);
  --artwork-major-yellow-moutarde: var(--yellow-moutarde-sun-348-moon-860);
  --artwork-major-yellow-moutarde-hover: var(--yellow-moutarde-sun-348-moon-860-hover);
  --artwork-major-yellow-moutarde-active: var(--yellow-moutarde-sun-348-moon-860-active);
  --artwork-major-orange-terre-battue: var(--orange-terre-battue-sun-370-moon-672);
  --artwork-major-orange-terre-battue-hover: var(--orange-terre-battue-sun-370-moon-672-hover);
  --artwork-major-orange-terre-battue-active: var(--orange-terre-battue-sun-370-moon-672-active);
  --artwork-major-brown-cafe-creme: var(--brown-cafe-creme-sun-383-moon-885);
  --artwork-major-brown-cafe-creme-hover: var(--brown-cafe-creme-sun-383-moon-885-hover);
  --artwork-major-brown-cafe-creme-active: var(--brown-cafe-creme-sun-383-moon-885-active);
  --artwork-major-brown-caramel: var(--brown-caramel-sun-425-moon-901);
  --artwork-major-brown-caramel-hover: var(--brown-caramel-sun-425-moon-901-hover);
  --artwork-major-brown-caramel-active: var(--brown-caramel-sun-425-moon-901-active);
  --artwork-major-brown-opera: var(--brown-opera-sun-395-moon-820);
  --artwork-major-brown-opera-hover: var(--brown-opera-sun-395-moon-820-hover);
  --artwork-major-brown-opera-active: var(--brown-opera-sun-395-moon-820-active);
  --artwork-major-beige-gris-galet: var(--beige-gris-galet-sun-407-moon-821);
  --artwork-major-beige-gris-galet-hover: var(--beige-gris-galet-sun-407-moon-821-hover);
  --artwork-major-beige-gris-galet-active: var(--beige-gris-galet-sun-407-moon-821-active);
  --artwork-minor-blue-france: var(--blue-france-main-525);
  --artwork-minor-red-marianne: var(--red-marianne-main-472);
  --artwork-minor-green-tilleul-verveine: var(--green-tilleul-verveine-main-707);
  --artwork-minor-green-bourgeon: var(--green-bourgeon-main-640);
  --artwork-minor-green-emeraude: var(--green-emeraude-main-632);
  --artwork-minor-green-menthe: var(--green-menthe-main-548);
  --artwork-minor-green-archipel: var(--green-archipel-main-557);
  --artwork-minor-blue-ecume: var(--blue-ecume-main-400);
  --artwork-minor-blue-cumulus: var(--blue-cumulus-main-526);
  --artwork-minor-purple-glycine: var(--purple-glycine-main-494);
  --artwork-minor-pink-macaron: var(--pink-macaron-main-689);
  --artwork-minor-pink-tuile: var(--pink-tuile-main-556);
  --artwork-minor-yellow-tournesol: var(--yellow-tournesol-main-731);
  --artwork-minor-yellow-moutarde: var(--yellow-moutarde-main-679);
  --artwork-minor-orange-terre-battue: var(--orange-terre-battue-main-645);
  --artwork-minor-brown-cafe-creme: var(--brown-cafe-creme-main-782);
  --artwork-minor-brown-caramel: var(--brown-caramel-main-648);
  --artwork-minor-brown-opera: var(--brown-opera-main-680);
  --artwork-minor-beige-gris-galet: var(--beige-gris-galet-main-702);
  --artwork-decorative-grey: var(--grey-950-100);
  --artwork-decorative-blue-france: var(--blue-france-950-100);
  --artwork-decorative-red-marianne: var(--red-marianne-950-100);
  --artwork-decorative-green-tilleul-verveine: var(--green-tilleul-verveine-950-100);
  --artwork-decorative-green-bourgeon: var(--green-bourgeon-950-100);
  --artwork-decorative-green-emeraude: var(--green-emeraude-950-100);
  --artwork-decorative-green-menthe: var(--green-menthe-950-100);
  --artwork-decorative-green-archipel: var(--green-archipel-950-100);
  --artwork-decorative-blue-ecume: var(--blue-ecume-950-100);
  --artwork-decorative-blue-cumulus: var(--blue-cumulus-950-100);
  --artwork-decorative-purple-glycine: var(--purple-glycine-950-100);
  --artwork-decorative-pink-macaron: var(--pink-macaron-950-100);
  --artwork-decorative-pink-tuile: var(--pink-tuile-950-100);
  --artwork-decorative-yellow-tournesol: var(--yellow-tournesol-950-100);
  --artwork-decorative-yellow-moutarde: var(--yellow-moutarde-950-100);
  --artwork-decorative-orange-terre-battue: var(--orange-terre-battue-950-100);
  --artwork-decorative-brown-cafe-creme: var(--brown-cafe-creme-950-100);
  --artwork-decorative-brown-caramel: var(--brown-caramel-950-100);
  --artwork-decorative-brown-opera: var(--brown-opera-950-100);
  --artwork-decorative-beige-gris-galet: var(--beige-gris-galet-950-100);
  --artwork-background-grey: var(--grey-975-75);
  --artwork-background-blue-france: var(--blue-france-975-75);
  --artwork-background-red-marianne: var(--red-marianne-975-75);
  --artwork-background-green-tilleul-verveine: var(--green-tilleul-verveine-975-75);
  --artwork-background-green-bourgeon: var(--green-bourgeon-975-75);
  --artwork-background-green-emeraude: var(--green-emeraude-975-75);
  --artwork-background-green-menthe: var(--green-menthe-975-75);
  --artwork-background-green-archipel: var(--green-archipel-975-75);
  --artwork-background-blue-ecume: var(--blue-ecume-975-75);
  --artwork-background-blue-cumulus: var(--blue-cumulus-975-75);
  --artwork-background-purple-glycine: var(--purple-glycine-975-75);
  --artwork-background-pink-macaron: var(--pink-macaron-975-75);
  --artwork-background-pink-tuile: var(--pink-tuile-975-75);
  --artwork-background-yellow-tournesol: var(--yellow-tournesol-975-75);
  --artwork-background-yellow-moutarde: var(--yellow-moutarde-975-75);
  --artwork-background-orange-terre-battue: var(--orange-terre-battue-975-75);
  --artwork-background-brown-cafe-creme: var(--brown-cafe-creme-975-75);
  --artwork-background-brown-caramel: var(--brown-caramel-975-75);
  --artwork-background-brown-opera: var(--brown-opera-975-75);
  --artwork-background-beige-gris-galet: var(--beige-gris-galet-975-75);
  --artwork-motif-grey: var(--grey-925-125);
  --artwork-motif-blue-france: var(--blue-france-925-125);
  --artwork-motif-red-marianne: var(--red-marianne-925-125);
  --artwork-motif-green-tilleul-verveine: var(--green-tilleul-verveine-925-125);
  --artwork-motif-green-bourgeon: var(--green-bourgeon-925-125);
  --artwork-motif-green-emeraude: var(--green-emeraude-925-125);
  --artwork-motif-green-menthe: var(--green-menthe-925-125);
  --artwork-motif-green-archipel: var(--green-archipel-925-125);
  --artwork-motif-blue-ecume: var(--blue-ecume-925-125);
  --artwork-motif-blue-cumulus: var(--blue-cumulus-925-125);
  --artwork-motif-purple-glycine: var(--purple-glycine-925-125);
  --artwork-motif-pink-macaron: var(--pink-macaron-925-125);
  --artwork-motif-pink-tuile: var(--pink-tuile-925-125);
  --artwork-motif-yellow-tournesol: var(--yellow-tournesol-925-125);
  --artwork-motif-yellow-moutarde: var(--yellow-moutarde-925-125);
  --artwork-motif-orange-terre-battue: var(--orange-terre-battue-925-125);
  --artwork-motif-brown-cafe-creme: var(--brown-cafe-creme-925-125);
  --artwork-motif-brown-caramel: var(--brown-caramel-925-125);
  --artwork-motif-brown-opera: var(--brown-opera-925-125);
  --artwork-motif-beige-gris-galet: var(--beige-gris-galet-925-125);
}
