@import './fonts.css';
@import './theme.css';

body {
  font-family: var(--csp-font-family);
  color: var(--text-default-grey);
  background: var(--background-default-grey);
  font-size: var(--csp-font-size-base);
  line-height: var(--csp-line-height-base);
  margin: 0;
  padding: 0;
}
