{% extends "layouts/base.html" %}
{% block page_title %}
    Accessibilité
{% endblock page_title %}
{% block main %}
    <div class="fr-container fr-py-8w">
        <h1>Déclaration d'accessibilité</h1>
        <p class="fr-text--lead">
            La DGAFP s'engage à rendre ses sites internet accessibles conformément à l'article 47 de la loi n°2005-102 du 11 février 2005.
        </p>
        <h2>État de conformité</h2>
        <p>
            Le site <strong>CSPLab</strong> n'est pas encore en conformité avec le référentiel général d'amélioration de l'accessibilité (RGAA) version 4.1.
            <strong>Aucun audit n'a encore été réalisé.</strong>
        </p>
        <h2>Résultats des tests</h2>
        <p>Aucun audit d'accessibilité n'a été réalisé pour le moment.</p>
        <h2>Contenus non accessibles</h2>
        <p>Sans audit, nous ne sommes pas en mesure de lister les éventuels manquements.</p>
        <h2>Amélioration et contact</h2>
        <p>
            Si vous n'arrivez pas à accéder à un contenu ou un service, vous pouvez contacter le responsable du site pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme.
        </p>
        <ul class="fr-mb-3w">
            <li>
                E-mail : <a href="mailto:csplab@beta.gouv.fr">csplab@beta.gouv.fr</a>
            </li>
        </ul>
        <h2>Voies de recours</h2>
        <p>
            Si vous constatez un défaut d'accessibilité vous empêchant d'accéder à un contenu ou une fonctionnalité du site, que vous nous le signalez et que vous ne parvenez pas à obtenir une réponse de notre part, vous êtes en droit de :
        </p>
        <ul class="fr-mb-3w">
            <li>
                Écrire un message au <a href="https://formulaire.defenseurdesdroits.fr/"
    target="_blank"
    rel="noopener">Défenseur des droits</a>
            </li>
            <li>
                Contacter le délégué du <a href="https://www.defenseurdesdroits.fr/saisir/delegues"
    target="_blank"
    rel="noopener">Défenseur des droits dans votre région</a>
            </li>
            <li>
                Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) à l'adresse suivante : Défenseur des droits, Libre réponse 71120, 75342 Paris CEDEX 07
            </li>
        </ul>
        <p class="fr-text--sm fr-text-mention--grey">Cette déclaration d'accessibilité a été établie le 24 février 2026.</p>
    </div>
{% endblock main %}
