{% extends "layouts/base.html" %}
{% block page_title %}
    Mentions légales
{% endblock page_title %}
{% block main %}
    <div class="fr-container fr-py-8w">
        <h1>Mentions légales</h1>
        <h2>Éditeur du site</h2>
        <p>
            Le site <strong>CSPLab</strong> est édité par la Direction générale de l'administration et de la fonction publique (DGAFP), dans le cadre du programme <a href="https://beta.gouv.fr" target="_blank" rel="noopener">beta.gouv.fr</a> de la Direction interministérielle du numérique (DINUM).
        </p>
        <address class="fr-mb-3w">
            Direction générale de l'administration et de la fonction publique (DGAFP)
            <br>
            2, boulevard Diderot
            <br>
            75012 Paris
            <br>
            France
        </address>
        <h2>Directeur de la publication</h2>
        <p>Le directeur de la publication est le directeur général de l'administration et de la fonction publique.</p>
        <h2>Hébergement</h2>
        <p>Ce site est hébergé par :</p>
        <address class="fr-mb-3w">
            Scalingo SAS
            <br>
            15 avenue du Rhin
            <br>
            67100 Strasbourg
            <br>
            France
        </address>
        <h2>Contact</h2>
        <p>
            <a href="mailto:csplab@beta.gouv.fr">csplab@beta.gouv.fr</a>
        </p>
    </div>
{% endblock main %}
