{% load i18n static dsfr_tags %}
<!DOCTYPE html>
<html lang="{% block lang %}fr{% endblock lang %}"
      data-fr-scheme="system"
      {% if SITE_CONFIG.mourning %}data-fr-mourning{% endif %}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% dsfr_css %}
    {% dsfr_favicon %}
    <link rel="stylesheet" href="{% static 'candidate/css/csplab.css' %}">
    {% block page_css %}{% endblock %}

    {% block title %}
    <title>{% block page_title %}{% endblock %}{% if page_title %} | {% endif %}CSPLab</title>
    {% endblock title %}

    <meta name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no">

    {% block opengraph %}{% endblock opengraph %}
</head>
<body>
    {% block skiplinks %}
    {% dsfr_skiplinks skiplinks %}
    {% endblock skiplinks %}

    {% block header %}
    {% include "candidate/blocks/header.html" %}
    {% endblock header %}

    {% if SITE_CONFIG.notice_title or SITE_CONFIG.notice_description %}
    {% dsfr_notice title=SITE_CONFIG.notice_title description=SITE_CONFIG.notice_description link=SITE_CONFIG.notice_link type=SITE_CONFIG.notice_type icon=SITE_CONFIG.notice_icon_class is_collapsible=SITE_CONFIG.notice_is_collapsible %}
    {% endif %}

    <div class="fr-container fr-mt-2w">
        {% dsfr_django_messages is_collapsible=True %}
    </div>

    <main id="content" role="main">
        {% block main %}{% endblock main %}
    </main>

    {% block follow_newsletter_social_media %}{% endblock follow_newsletter_social_media %}

    {% block footer %}
    {% include "candidate/blocks/footer.html" %}
    {% endblock footer %}

    {% block theme_modale %}
    {% dsfr_theme_modale %}
    {% endblock theme_modale %}

    {% dsfr_js nonce=request.csp_nonce %}
    {% load django_htmx %}
    {% django_htmx_script %}
    {% block page_js %}{% endblock page_js %}
</body>
</html>
