{% extends "dsfr/footer.html" %}
{% block footer_brand %}
    <div class="fr-footer__brand fr-enlarge-link">
        <a id="footer-operator"
           href="{% url 'pages:home' %}"
           title="Retour à la page d'accueil — CSPLab">
            <p class="fr-logo">
                République
                <br />
                française
            </p>
        </a>
    </div>
{% endblock footer_brand %}
{% block footer_description %}
    <p class="fr-footer__content-desc">
        Aider les candidats à comprendre et à trouver plus facilement leur voie dans le service public
    </p>
{% endblock footer_description %}
{% block footer_links %}
    <li class="fr-footer__bottom-item">
        <a class="fr-footer__bottom-link" href="#">Accessibilité : non conforme</a>
    </li>
    <li class="fr-footer__bottom-item">
        <a class="fr-footer__bottom-link" href="{% url 'pages:legal_notices' %}">Mentions légales</a>
    </li>
    <li class="fr-footer__bottom-item">
        <a class="fr-footer__bottom-link" href="#">Données personnelles</a>
    </li>
    <li class="fr-footer__bottom-item">
        <a class="fr-footer__bottom-link" href="#">Gestion des cookies</a>
    </li>
{% endblock footer_links %}
