{% extends "dsfr/header.html" %}
{% load static %}
{% block brand %}
    <p class="fr-logo">
        République
        <br />
        française
    </p>
{% endblock brand %}
{% block operator_logo %}
    <img src="{% static 'candidate/images/RVB_BM_Choisir_SP 1.svg' %}"
         width="176"
         height="99"
         alt=""
         class="fr-header__operator"
         aria-hidden="true">
{% endblock operator_logo %}
{% block service_title %}
    <a href="{% url 'pages:home' %}" title="Accueil — CSPLab">
        <p class="fr-header__service-title">
            Choisir le service public
            <span class="fr-badge fr-badge--sm fr-badge--green-emeraude">Lab</span>
        </p>
    </a>
{% endblock service_title %}
{% block service_tagline %}
    Innover pour choisir le service public
{% endblock service_tagline %}
{% block header_tools %}
    <li>
        <a class="fr-btn fr-btn--tertiary-no-outline fr-icon-mail-line" href="#">Infolettre</a>
    </li>
{% endblock header_tools %}
{% block header_search %}
{% endblock header_search %}
{% block main_menu %}
    <div class="fr-header__menu fr-modal"
         id="fr-menu-mobile"
         aria-labelledby="fr-btn-menu-mobile">
        <div class="fr-container">
            <button class="fr-btn--close fr-btn" aria-controls="fr-menu-mobile">Fermer</button>
            <div class="fr-header__menu-links">
                <ul class="fr-btns-group">
                    <li>
                        <a class="fr-btn fr-btn--tertiary-no-outline fr-icon-mail-line" href="#">Infolettre</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock main_menu %}
