<div class="fr-notice fr-notice--info csplab-notice">
    <div class="fr-container">
        <div class="fr-notice__body">
            <p>
                <span class="fr-notice__title">Produit en pause</span>
                <span class="fr-notice__desc">Retrouvez toutes les offres disponibles sur le site</span>
                <a class="fr-notice__link"
                   href="https://choisirleservicepublic.gouv.fr/"
                   target="_blank"
                   rel="noopener noreferrer">Choisir le Service Public<span class="fr-sr-only">- nouvelle fenêtre</span></a>
            </p>
            <button class="fr-btn--close fr-btn" title="Masquer le message">Masquer le message</button>
        </div>
    </div>
</div>
