@use "../abstracts" as *;

.csplab-processing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $sp-5w;
  padding-bottom: 20rem;

  @include lt-md {
    padding-bottom: $sp-12w;
  }

  .csplab-processing__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $sp-3w;
    width: 100%;
  }

  .csplab-processing__title {
    text-align: center;
  }

  .csplab-processing__messages {
    position: relative;
    min-height: $sp-3w;
    width: 100%;
    text-align: center;
  }

  .csplab-processing__message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    animation: csplab-message-rotate 9s infinite;

    &[data-message="1"] {
      animation-delay: 0s;
    }

    &[data-message="2"] {
      animation-delay: 3s;
    }

    &[data-message="3"] {
      animation-delay: 6s;
    }
  }

  .csplab-processing__illustration {
    width: 128px;
    height: 128px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@keyframes csplab-message-rotate {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
