.csplab-cv-uploaded__actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include md {
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }
}

/* Override display:flex when hidden attribute is present */
.csplab-cv-uploaded__actions[hidden] {
  display: none;
}
