@use "../abstracts" as *;

.csplab-cv-uploaded__actions {
  display: flex;
  flex-direction: column;
  gap: $sp-2w;

  @include md {
    flex-direction: row;
    align-items: center;
    gap: $sp-3w;
  }
}
