.csplab-cv-uploaded__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* .csplab-cv-uploaded__actions > button {
    width: 100%;
} */

@media (min-width: 48rem) {
    .csplab-cv-uploaded__actions {
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
    }
}

/* Override display:flex when hidden attribute is present */
.csplab-cv-uploaded__actions[hidden] {
    display: none;
}
