/* Hero Section */

.csplab-hero {
  background: linear-gradient(135deg, #0b0b98 33%, #2b2bab 66%, #5757c5 100%);
  /*
      The conic gradient bellow from Figma does not translate well to CSS as is.
      background: conic-gradient(from -66deg at 58.33% 134.44%, #000091 0deg, #ADADF9 360deg);
    */
}

.csplab-hero__content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.csplab-hero__tag {
  background-color: var(--background-contrast-blue-france) !important;
  color: var(--text-title-blue-france) !important;
}

.csplab-hero__title {
  color: white;
  margin: 0 !important;
}

.csplab-hero__main-cta {
  background-color: var(--background-default-grey) !important;
  color: var(--text-title-blue-france) !important;
}

.csplab-hero__main-cta:hover {
  background-color: var(--background-default-grey-hover) !important;
}

.csplab-hero__main-cta:active {
  background-color: var(--background-default-grey-active) !important;
}

.csplab-hero__illustration {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 300px;

  @include lg {
    justify-content: center;
    max-width: none;
    max-height: none;
  }
}

.csplab-hero__illustration img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 400px;
  max-height: 400px;
  border-radius: 1rem;
  background-color: var(--background-action-high-blue-france);
}

.csplab-hero__illustration-img {
  position: relative;
  z-index: 1;
  /* max-width: 260px;
    max-height: 260px; */
}

/* Features Section */

.csplab-features__illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include lt-lg {
    display: none;
  }
}

.csplab-features__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include lg {
    .csplab-features__list {
      gap: 7.5rem;
    }
  }
}

.csplab-feature {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.csplab-feature__badge {
  padding: 0.5rem 0.75rem !important;
  background-color: var(--background-contrast-info) !important;
  color: var(--text-default-info) !important;
}

/* About Section */

.csplab-about__card {
  background-color: var(--background-contrast-blue-france);
  border-radius: 1.5rem;
}

.csplab-about__content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.csplab-about__illustration {
  display: flex;
  align-items: center;
  justify-content: center;
}
