@use "../abstracts" as *;

.csplab-hero__title {
  font-size: $sp-4w;
  line-height: 112.5%;

  @include sm {
    font-size: $sp-6w;
  }

  @include lg {
    font-size: $sp-8w;
  }
}

.csplab-feature__badge {
  background-color: var(--background-default-grey);
  color: var(--text-default-info);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: $sp-1v;
  padding-inline: $sp-3v;
  padding-block: $sp-1w;
}

.csplab-about__card {
  border: 1px solid var(--border-default-grey);
  border-radius: $sp-3w;
}

.csplab-about__content {
  gap: $sp-5w;
}
