@use "../abstracts" as *;

.csplab-hero {
  background: $hero-gradient;

  .csplab-hero__content {
    display: flex;
    flex-direction: column;
    gap: $sp-5w;
  }

  .csplab-hero__tag {
    background-color: var(--background-contrast-blue-france);
    color: var(--text-title-blue-france);
  }

  .csplab-hero__title {
    color: white;
    margin: 0;
  }

  .csplab-hero__main-cta {
    background-color: var(--background-default-grey);
    color: var(--text-title-blue-france);

    &:hover {
      background-color: var(--background-default-grey-hover);
    }

    &:active {
      background-color: var(--background-default-grey-active);
    }
  }

  .csplab-hero__illustration {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 300px;

    @include lg {
      justify-content: center;
      max-width: none;
      max-height: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      max-width: 400px;
      max-height: 400px;
      border-radius: $sp-2w;
      background-color: var(--background-action-high-blue-france);
    }
  }

  .csplab-hero__illustration-img {
    position: relative;
    z-index: 1;
  }
}

.csplab-features__illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include lt-lg {
    display: none;
  }
}

.csplab-features__list {
  display: flex;
  flex-direction: column;
  gap: $sp-6w;

  @include lg {
    gap: $sp-15w;
  }
}

.csplab-feature {
  display: flex;
  flex-direction: column;
  gap: $sp-2w;

  .csplab-feature__badge {
    padding: $sp-1w $sp-3v !important;
    background-color: var(--background-contrast-info) !important;
    color: var(--text-default-info) !important;
  }
}

.csplab-about__card {
  background-color: var(--background-contrast-blue-france);
  border-radius: $sp-3w;
}

.csplab-about__content {
  display: flex;
  flex-direction: column;
  gap: $sp-5w;
}

.csplab-about__illustration {
  display: flex;
  align-items: center;
  justify-content: center;
}
