{% load static %}
<dialog id="{{ drawer_id }}"
        class="csplab-drawer"
        data-drawer
        aria-label="{{ drawer_label }}">
    <div class="csplab-drawer__panel">
        <div class="fr-modal__header">
            <button type="button" class="fr-btn fr-btn--close" data-drawer-close>Fermer</button>
        </div>
        <div id="{{ drawer_body_id }}"
             class="csplab-drawer__body fr-modal__content"
             data-drawer-body></div>
    </div>
</dialog>
<script src="{% static 'js/drawer.js' %}" defer nonce="{{ csp_nonce }}"></script>
