{% load static %}
<dialog id="{{ drawer_id }}"
        class="csplab-drawer"
        data-drawer
        aria-label="{{ drawer_label }}">
    <div class="csplab-drawer__panel">
        <div class="fr-px-3w fr-px-md-5w fr-pt-3w fr-pt-md-5w">
            <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--right">
                <li>
                    <button type="button" class="fr-btn fr-btn--close fr-mb-0" data-drawer-close>Fermer</button>
                </li>
            </ul>
        </div>
        <div id="{{ drawer_body_id }}"
             class="csplab-drawer__body"
             data-drawer-body></div>
    </div>
</dialog>
<script src="{% static 'js/drawer.js' %}" defer></script>
