/** Global styles */

/* JS DSFR detection utilities */
html:not([data-fr-js="true"]) .js-only,
html[data-fr-js="true"] .no-js-only {
  display: none !important;
}

/* DSFR patches and extensions */

.fr-col>img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
  .csplab-col-offset-md-0 {
    margin-left: 0 !important;
  }
}

.csplab-space-y-1w,
.csplab-space-y-2w,
.csplab-space-y-3w {
  display: flex;
  flex-direction: column;
}

.csplab-space-y-1w>p,
.csplab-space-y-1w>h1,
.csplab-space-y-1w>h2,
.csplab-space-y-1w>h3,
.csplab-space-y-1w>h4,
.csplab-space-y-1w>h5,
.csplab-space-y-1w>h6,
.csplab-space-y-2w>p,
.csplab-space-y-2w>h1,
.csplab-space-y-2w>h2,
.csplab-space-y-2w>h3,
.csplab-space-y-2w>h4,
.csplab-space-y-2w>h5,
.csplab-space-y-2w>h6,
.csplab-space-y-3w>p,
.csplab-space-y-3w>h1,
.csplab-space-y-3w>h2,
.csplab-space-y-3w>h3,
.csplab-space-y-3w>h4,
.csplab-space-y-3w>h5,
.csplab-space-y-3w>h6 {
  margin: 0;
}

.csplab-space-y-1w {
  gap: .5rem;
}

.csplab-space-y-2w {
  gap: 1rem;
}

.csplab-space-y-3w {
  gap: 1.5rem;
}

.csplab-text-blue-france {
  color: var(--text-title-blue-france);
}

.csplab-text-info {
  color: var(--text-default-info);
}
