$sm: 36em;
$md: 48em;
$lg: 62em;
$xl: 78em;
$xxl: 100em;

$breakpoints: (
  'sm': $sm,
  'md': $md,
  'lg': $lg,
  'xl': $xl,
  'xxl': $xxl,
);

@mixin from($breakpoint) {
  @media (width >= $breakpoint) {
    @content;
  }
}

@mixin below($breakpoint) {
  @media (width < $breakpoint) {
    @content;
  }
}
