@import './dsfr-tokens-options.css';
@import './dsfr-tokens-decisions.css';
@import './csp-variables.css';
@import 'tailwindcss';

@theme {
  --color-*: initial;
  --font-sans: var(--csp-font-family);

  /* Same scale as breakpoints.scss and breakpoints.ts */
  --breakpoint-*: initial;
  --breakpoint-sm: 36em;
  --breakpoint-md: 48em;
  --breakpoint-lg: 62em;
  --breakpoint-xl: 78em;
  --breakpoint-xxl: 100em;
}
