/* CSS Variables */
:root {
    --csplab-blue-france: #000091;
    --csplab-blue-light: #E3E3FD;
    --csplab-blue-alt: #F5F5FE;
    --csplab-text-title: #161616;
    --csplab-text-default: #3A3A3A;
    --csplab-success-bg: #B8FEC9;
    --csplab-success-text: #18753C;
    --csplab-action-info: #0063CB;

    --bp-sm: 576px;
    --bp-md: 768px;
    --bp-lg: 992px;
    --bp-xxl: 1200px;
}

/* Hero Section */

.csplab-hero {
    background: linear-gradient(
        135deg,
        #0b0b98 33%,
        #2b2bab 66%,
        #5757c5 100%
    );
    /*
      The conic gradient bellow from Figma does not translate well to CSS as is.
      background: conic-gradient(from -66deg at 58.33% 134.44%, #000091 0deg, #ADADF9 360deg);
    */
}

.csplab-hero__content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.csplab-hero__tag {
    background-color: var(--csplab-blue-light) !important;
    color: var(--csplab-blue-france) !important;
}

.csplab-hero__title {
    color: white;
    margin: 0 !important;
}

.csplab-hero__main-cta {
    background-color: white !important;
    color: var(--csplab-blue-france) !important;
}

.csplab-hero__main-cta:hover {
    background-color: var(--csplab-blue-light) !important;
}

.csplab-hero__main-cta:active {
    background-color: var(--csplab-blue-alt) !important;
}

.csplab-hero__illustration {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.csplab-hero__illustration img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 400px;
    max-height: 400px;
    border-radius: 1rem;
    background-color: var(--csplab-blue-france);
}

@media (min-width: 992px) {
    .csplab-hero__illustration {
      justify-content: center;
      max-width: none;
      max-height: none;
    }
}

.csplab-hero__illustration-img {
    position: relative;
    z-index: 1;
    /* max-width: 260px;
    max-height: 260px; */
}

/* Features Section */

.csplab-features__illustration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .csplab-features__illustration {
        display: none;
    }
}

.csplab-features__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

@media (min-width: 992px) {
    .csplab-features__list {
        gap: 7.5rem;
    }
}

.csplab-feature {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.csplab-feature__badge {
    padding: 0.5rem 0.75rem !important;
    background-color: var(--csplab-blue-alt) !important;
    color: var(--csplab-action-info) !important;
}

/* About Section */

.csplab-about__card {
    background-color: var(--csplab-blue-alt);
    border-radius: 1.5rem;
}

.csplab-about__content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.csplab-about__illustration {
    display: flex;
    align-items: center;
    justify-content: center;
}
