{% extends "layouts/error.html" %}
{% block page_title %}
    Page non trouvée
{% endblock page_title %}
{% block error_title %}
    Page non trouvée
{% endblock error_title %}
{% block error_code %}
    Erreur 404
{% endblock error_code %}
{% block error_lead %}
    La page que vous cherchez est introuvable. Excusez-nous pour la gêne occasionnée.
{% endblock error_lead %}
{% block error_detail %}
    Si vous avez tapé l'adresse web dans le navigateur, vérifiez qu'elle est correcte. La page n'est peut-être plus disponible.
    Dans ce cas, pour continuer votre visite vous pouvez consulter notre page d'accueil.
{% endblock error_detail %}
