{% extends "layouts/error.html" %}
{% block page_title %}
    Erreur inattendue
{% endblock page_title %}
{% block error_title %}
    Erreur inattendue
{% endblock error_title %}
{% block error_code %}
    Erreur 500
{% endblock error_code %}
{% block error_lead %}
    Désolé, le service rencontre un problème, nous travaillons pour le résoudre le plus rapidement possible.
{% endblock error_lead %}
{% block error_detail %}
    Essayez de rafraîchir la page ou bien ressayez plus tard.
    Si vous avez besoin d'une aide immédiate, merci de nous contacter.
{% endblock error_detail %}
